---
layout: page
title: "API Playground"
description: "APIs Are Awesome."
header-img: "img/about-bg.jpg"
---

<p>I love a good API as much as the next Ruby Dev. I plan to blog about fun little projects with APIs here.</p>

{% for post in site.tags.api-project %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}
