---
layout: page
title: "API Playground"
description: "APIs Are Awesome."
header-img: "img/blurred_lines.jpeg"
---

<p>Welcome to my API Playground! Here, I post about projects with various APIs that I've worked with. I'm always looking for my next fun idea, and love getting tips and suggestions. If you have any ideas up your sleeve, click the mail icon in the footer and send 'em my way!</p>

{% for post in site.tags.api-project %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}
